/* Global */
:root {
  /* Color */
  --color-black: rgba(29, 29, 31);
  --color-gray: #888;

  /* Font size */
  --font-large: 112px;
  --font-medium: 72px;
  --font-regular: 48px;
  --font-small: 20px;
  --font-micro: 14px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-reaular: 400;
}
/* Uriversal tags */
html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: var(--font-small);
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--color-black);
  /* letter-spacing: -0.1em; */
  background-color: white;
  font-family: "Noto Sans KR", sans-serif;
}
body * {
  font-weight: var(--weight-reaular);
  font-family: "Noto Sans KR", sans-serif;
}
ul {
  list-style: none;
}
a {
  display: block;
  color: var(--color-black);
  text-decoration: none;
}

/* Typotgraphy */
body > nav > div,
body > section:not(#scroll-section-3),
#scroll-section-3 > p {
  max-width: 1000px;
  margin: 0 auto;
}
body > section {
  border: 2px solid hotpink;
  position: relative;
  padding-top: 50vh;
}
body .sticky-elem {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  display: none;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}
body .sticky-elem-canvas {
  top: 0;
  height: 100%;
  /* z-index: 1; */
  /* background-color: #ccc; */
}
body .sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

/* Navbar */
nav {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}
nav:first-of-type {
  top: 0;
  line-height: 44px;
  text-transform: capitalize;
}
nav:last-of-type {
  top: 44px;
  line-height: 52px;
  border-bottom: 1px solid #ddd;
}
nav:first-of-type > div > ul,
nav:last-of-type > div > ul {
  margin: 0;
  padding: 0;
}
nav:first-of-type > div > ul,
nav:last-of-type > div,
nav:last-of-type > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav:last-of-type > div > h1 {
  margin: 0 auto 0 0;
}
nav:last-of-type > div > h1 a img {
  width: 34px;
}
nav:last-of-type > div > ul li:not(:first-of-type) {
  margin-left: 2em;
}
/* a */
nav:first-of-type {
  font-size: 16px;
}
nav:last-of-type > div > h1 a i {
  font-size: 32px;
  color: #eb4034;
}
nav:last-of-type > div > ul li a {
  font-size: var(--font-micro);
}

/* #scroll-section-0 */
#scroll-section-0 > h2 {
  position: relative;
  top: -10vh;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  text-align: center;
  letter-spacing: -0.03em;
  z-index: 10;
}
#scroll-section-0 > p,
#scroll-section-2 > p:nth-of-type(1) {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 3em;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  text-align: center;
  opacity: 0;
  top: 35vh;
}

/* #scroll-section-1 */
#scroll-section-1 > p strong {
  float: left;
  margin-right: 0.2em;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  letter-spacing: -0.03em;
  line-height: var(--font-medium);
}
#scroll-section-1 > p {
  color: var(--color-gray);
  line-height: 1.5em;
}

/* #scroll-section-2 */
#scroll-section-2 > p:nth-of-type(1) small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 24px;
  font-weight: var(--weight-bold);
}
#scroll-section-2 > p:nth-of-type(1) {
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  letter-spacing: -0.03em;
}
#scroll-section-2 > p:not(:nth-of-type(1)) {
  width: 20%;
  opacity: 0;
}
#scroll-section-2 > p:not(:nth-of-type(1)) span {
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--color-black);
}
#scroll-section-2 > p:nth-of-type(2) {
  top: 13%;
  left: 53%;
}
#scroll-section-2 > p:nth-of-type(3) {
  top: 15%;
  left: 55%;
}

/* #scroll-section-3 */
#scroll-section-3 {
  display: flex;
  flex-direction: column;
}
#scroll-section-3 > p:nth-of-type(1) strong {
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  letter-spacing: -0.03em;
}
#scroll-section-3 > p:nth-of-type(1) {
  color: var(--color-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  width: 100%;
}
#scroll-section-3 > canvas {
  /* align-items: center; */
  background-color: rgba(0, 0, 0, 0.1);
  width: 1920px;
  height: 1080px;
}
#scroll-section-3 > canvas.sticky-canvas {
  position: fixed;
  top: 0;
}
#scroll-section-3 > p:nth-of-type(2) {
  color: var(--color-gray);
  line-height: 1.5em;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Mobile */
@media screen and (max-width: 767px) {
  /* Global */
  :root {
    /* Font size */
    --font-large: 17vw;
    --font-medium: 11vw;
    --font-regular: 8vw;
    --font-small: 14px;
    --font-micro: 12px;
  }

  /* Typotgraphy */
  body > nav > div,
  body > section:not(#scroll-section-3),
  #scroll-section-3 > p {
    padding: 50vh 3% 0;
  }

  /* Nav */
  nav:last-of-type > h1 a img {
    width: 27px;
  }

  /* #scroll-section-1 */
  #scroll-section-1 > p strong {
    line-height: var(--font-medium);
  }

  /* #scroll-section-2 */
  #scroll-section-2 > p:not(:nth-of-type(1)) {
    width: 50%;
  }
  #scroll-section-2 > p:nth-of-type(2) {
    top: 10%;
    left: 40%;
  }
  #scroll-section-2 > p:nth-of-type(3) {
    top: 15%;
    left: 45%;
  }

  /* #scroll-section-3 */
  #scroll-section-3 > p:nth-of-type(1) small {
    font-size: 16px;
  }
}
