/* Global */
:root {
  /* Color */
  --color-black: rgba(29, 29, 31);
  --color-gray: #888;

  /* Font size */
  --font-large: 140px;
  --font-medium: 88px;
  --font-regular: 68px;
  --font-small: 28px;
  --font-micro: 20px;

  /* Font weight */
  --weight-extra-bold: 900;
  --weight-bold: 700;
  --weight-reaular: 400;
}

/* Uriversal tags */
body {
  margin: 0;
  padding: 0;
  /* mobile 가로 스크롤 방지 */
  overflow-x: hidden;
}
body * {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-black);
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  color: var(--color-black);
}

/* Typotgraphy */
body > nav > div,
#scroll-section-1,
#scroll-section-3 > *:not(canvas) {
  max-width: 1000px;
  margin: 0 auto;
}
body > section {
  position: relative;
  padding-top: 50vh;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}
body .sticky-elem {
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  display: none;
}
body .sticky-elem-canvas {
  top: 0;
  height: 100%;
}
body .sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  /* z-index: 1; */
}
/* opacity p */
#scroll-section-0 > p,
#scroll-section-2 > p:nth-of-type(1) {
  font-weight: var(--weight-extra-bold);
  letter-spacing: -0.01em;
  text-align: center;
  opacity: 0;
}
/* small p */
#scroll-section-1 > p,
#scroll-section-3 > p:nth-of-type(2) {
  color: var(--color-gray);
  font-size: var(--font-small);
  font-weight: var(--weight-reaular);
  line-height: 1.6em;
}

/* Loading */
body.before-loading {
  overflow: hidden;
}
body.before-loading .loading {
  opacity: 1;
}
body.before-loading *:not(.loading):not(.loading *) {
  display: none !important;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: all 0.5s;
  opacity: 0;
  z-index: 1000;
}
/* loading svg */
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading svg {
  width: 54px;
  line-height: 54px;
  animation: loading-spin 3s infinite;
}
/* loading circle */
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading svg circle {
  stroke: var(--color-black);
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
}
/* loading span */
.loading span {
  margin-top: -15px;
  font-size: 16px;
}

/* Navbar */
nav {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
}
nav:first-of-type > div > ul,
nav:last-of-type > div,
nav:last-of-type > div > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Top Nabvar */
nav:first-of-type {
  top: 0;
  line-height: 44px;
  text-transform: capitalize;
  font-size: 16px;
}
nav:last-of-type {
  top: 44px;
  line-height: 52px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
/* Bottom Navbar */
nav:last-of-type.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
  -o-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);
}
nav:last-of-type > div > h1 a img {
  width: 34px;
}
nav:last-of-type > div > ul li:not(:first-of-type) {
  margin-left: 2em;
}

/* #scroll-section-0 */
#scroll-section-0 > h2 {
  position: relative;
  top: -10vh;
  font-size: var(--font-large);
  font-weight: var(--weight-extra-bold);
  letter-spacing: -0.01em;
  text-align: center;
  z-index: 10;
}
#scroll-section-0 > p {
  top: 38vh;
  font-size: var(--font-regular);
  line-height: 1.2em;
}

/* #scroll-section-1 */
#scroll-section-1 > p strong {
  float: left;
  margin-right: 0.2em;
  font-size: var(--font-medium);
  font-weight: var(--weight-extra-bold);
  line-height: 1em;
}

/* #scroll-section-2 */
#scroll-section-2 > p:nth-of-type(1) small {
  display: block;
  margin-bottom: 0.8em;
  font-size: var(--font-small);
}
#scroll-section-2 > p:nth-of-type(1) {
  top: 40vh;
  font-size: var(--font-medium);
}
#scroll-section-2 > p:not(:nth-of-type(1)) {
  width: 20%;
  opacity: 0;
  font-size: var(--font-micro);
  font-weight: var(--weight-reaular);
  line-height: 1.3em;
}
#scroll-section-2 > p:nth-of-type(2) {
  top: 13%;
  left: 53%;
}
#scroll-section-2 > p:nth-of-type(3) {
  top: 15%;
  left: 55%;
}
#scroll-section-2 > p:not(:nth-of-type(1)) span {
  display: block;
  width: 1.3px;
  height: 100px;
  margin-top: 10px;
  background-color: var(--color-black);
}

/* #scroll-section-3 */
#scroll-section-3 {
  display: flex;
  flex-direction: column;
}
#scroll-section-3 > p:nth-of-type(1) strong {
  color: var(--color-black);
  font-weight: var(--weight-extra-bold);
}
#scroll-section-3 > p:nth-of-type(1) {
  color: var(--color-gray);
  font-size: var(--font-regular);
  font-weight: var(--weight-reaular);
  line-height: 1.3em;
  width: 100%;
}
#scroll-section-3 > canvas {
  width: 100%;
}
#scroll-section-3 > canvas.sticky-canvas {
  position: fixed;
  z-index: 1;
}
#scroll-section-3 > p:nth-of-type(2) {
  text-align: center;
}

/* Footer */
footer {
  /* margin-top: 500px; */
  padding: 50px 0;
  background-color: var(--color-black);
}
footer > div {
  /* max-width: 1000px; */
  height: 220px;
  position: relative;
  margin-bottom: 20px;
}
footer > div > div {
  position: absolute;
  display: block;
  height: 200px;
  border-radius: 15px;
}
footer > div > div:nth-of-type(1) {
  top: 0px;
  left: 30%;
  width: 40%;
  background-color: #ffffff;
  z-index: 100;
}
footer > div > div:nth-of-type(2) {
  top: 10px;
  left: 31%;
  width: 38%;
  background-color: #bdbdbd;
  z-index: 10;
}
footer > div > div:nth-of-type(3) {
  top: 20px;
  left: 32%;
  width: 36%;
  background-color: #7c7979;
  z-index: 1;
}
/* Footer Contents */
footer > div > div:nth-of-type(1) span {
  display: block;
}
footer > div > div:nth-of-type(1) span:first-of-type {
  padding: 0 5%;
  line-height: 100px;
  font-size: 2.3vw;
  font-weight: var(--weight-bold);
  background-color: transparent;
}
footer > div > div:nth-of-type(1) span:last-of-type {
  padding: 0 0 0 5%;
  line-height: 100px;
  font-size: 2.3vw;
  background-color: #eeeeee;
  border-radius: 0 0 15px 15px;
  display: flex;
}
footer > div > div:nth-of-type(1) span:last-of-type a {
  width: 100%;
  margin-left: 5%;
  background-color: #c2dcf2;
  border-radius: 0 0 15px 0;
  text-align: center;
}
footer > div > div:nth-of-type(1) span:last-of-type a i {
  color: #6595bf;
  font-size: 2.3vw;
  transition: all 0.1s ease-in-out;
}
footer > div > div:nth-of-type(1) span:last-of-type a i:hover {
  color: #616161;
}
/* Footer sns */
footer > span {
  display: block;
  text-align: center;
}
footer > span a,
footer > span a i {
  display: inline-block;
  transition: all 0.1s ease-in-out;
  color: #eeeeee;
  font-size: 24px;
}
footer > span a:last-of-type {
  font-weight: var(--weight-bold);
  margin-left: 1%;
}
footer > span a:hover,
footer > span a i:hover {
  color: #ed7d31;
}

/* Mobile */
@media screen and (max-width: 767px) {
  /* Global */
  :root {
    /* Font size */
    --font-large: 17vw;
    --font-medium: 11vw;
    --font-regular: 8vw;
    --font-small: 14px;
    --font-micro: 12px;
  }

  /* Typotgraphy */
  body
    > section:not(#scroll-section-3):not(#scroll-section-4):not(#scroll-section-5),
  #scroll-section-3 > p:nth-of-type(1) {
    padding: 50vh 3% 0;
  }
  body > nav > div,
  #scroll-section-3 > p:nth-of-type(2),
  #scroll-section-4,
  #scroll-section-5 {
    padding: 0 3%;
  }

  /* Nav */
  nav:last-of-type > h1 a img {
    width: 27px;
  }

  /* #scroll-section-1 */
  #scroll-section-1 > p strong {
  }

  /* #scroll-section-2 */
  #scroll-section-2 > p:not(:nth-of-type(1)) {
    width: 50%;
  }
  #scroll-section-2 > p:nth-of-type(2) {
    top: 10%;
    left: 40%;
  }
  #scroll-section-2 > p:nth-of-type(3) {
    top: 15%;
    left: 45%;
  }

  /* #scroll-section-3 */
  #scroll-section-3 > p:nth-of-type(1) small {
    font-size: 16px;
  }

  /* Footer */
  footer {
    padding: 30px 0;
    background-color: var(--color-black);
  }
  footer > div {
    height: 170px;
  }
  footer > div > div {
    height: 150px;
  }
  footer > div > div:nth-of-type(1) {
    left: 10%;
    width: 80%;
  }
  footer > div > div:nth-of-type(1) span:first-of-type {
    line-height: 75px;
  }
  footer > div > div:nth-of-type(1) span:last-of-type {
    line-height: 75px;
  }
  footer > div > div:nth-of-type(2) {
    left: 11%;
    width: 78%;
  }
  footer > div > div:nth-of-type(3) {
    left: 12%;
    width: 76%;
  }
  /* Footer Contents */
  footer > div > div:nth-of-type(1) span:first-of-type {
    font-size: 5vw;
  }
  footer > div > div:nth-of-type(1) span:last-of-type {
    font-size: 5vw;
  }
  footer > div > div:nth-of-type(1) span:last-of-type a i {
    font-size: 5vw;
  }
}
